*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color:hsl(254, 27%, 31%);
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 706px;
    max-width: 541px;
    min-width: 326px;
    min-height: 608px;
    background-color:hsl(254, 27%, 31%);
}

.calc-hero-banner {
    width: 100%;
    height: max-content;
}

.calc-hero-banner h1 {
    text-align: center;
    color: white;
    font-size: 32px;
    text-transform: lowercase;
    margin: 0;
}

/* End of Calc Hero Banner */

/* Calc Display */

.calc-display {
    width: 100%;
    height: 126px;
    background-color:hsl(254, 27%, 20%);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.output {
    display: flex;
    grid-column: 1 / -1;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 1em;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: lightgrey;
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

.screen {
    max-width: 491px;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    text-align: right;
    text-transform: uppercase;
    color: white;
}

.screen-guard {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: transparent;
}

.calculator-body {
    width: 100%;
    height: 476px;
    background-color:hsl(254, 27%, 20%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-btn-container {
    width: 491px;
    height: 415px;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 101px);
    grid-template-rows: auto;
    justify-content: space-between;
    align-content: space-between;
}

.input-sq {
    cursor: pointer;
    width: 101px;
    background-color: white;
    box-shadow: 0px 5px 1px hsl(28, 9%, 73%);
    font-size: 32px;
    color:hsl(254, 27%, 20%);
}

.calc-def {
    height: 58px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    position: relative;
}

.reset-rec {
    cursor: pointer;
    width: 231px;
    background-color:hsl(254, 27%, 30%);
    box-shadow: 0px 5px 1px hsl(254, 27%, 15%);
    font-size: 20px;
    margin: 0;
    color: white;
    grid-column: 1/3;
}

.result-rec {
    cursor: pointer;
    width: 231px;
    background: hsl(6, 63%, 50%);
    box-shadow: 0px 5px 1px hsl(6, 70%, 34%);
    font-size: 20px;
    color: white;
    grid-column: 3/5;
}





