html {

}


body {
    background-color:hsl(222, 26%, 31%) ;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

.calculator-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 200px;
}

